body {
    background: url('./React-icon.svg') no-repeat;
    background-size: 4rem auto;
    background-position: center;
    min-height: 100vh;

    h1 {
        font-size: 5rem;
        color: red;
    }
}